In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

# Data Preparation

In [2]:
raw_df = pd.read_csv('./emails.csv')
raw_df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

Assign X, Y dataframe

In [3]:
raw_x = raw_df.copy().drop(columns=[raw_df.columns[0],raw_df.columns[-1]])
raw_y = raw_df['Prediction'].copy()
raw_x

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,0,1,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,0,1,0
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

#find nan value in columns
col_nan = [col for col in raw_x.columns if any(raw_x[col].isna())]
col_nan

### Prepare X

In [4]:
#Standardized data
scaled_x = StandardScaler().fit_transform(raw_x)
df_std_x = pd.DataFrame(data=scaled_x, columns=raw_x.columns)
df_std_x

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,-0.565449,-0.649083,-0.293895,-0.508752,-0.667663,-0.421725,-0.611169,-0.571751,-0.290556,-0.549800,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,-0.329048,-0.070971
1,0.115757,0.714508,1.337337,0.483741,0.614369,-0.100659,0.530831,-0.339949,3.584743,0.383809,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,0.030672,-0.070971
2,-0.565449,-0.649083,-0.293895,-0.508752,-0.667663,-0.421725,-0.542649,-0.571751,-0.290556,-0.342331,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,-0.329048,-0.070971
3,-0.565449,-0.124625,1.195490,-0.508752,0.400697,-0.261192,-0.051589,-0.108147,1.144740,-0.497933,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,-0.329048,-0.070971
4,0.030606,-0.019733,0.840875,-0.343336,0.400697,-0.100659,0.016931,-0.571751,1.001210,-0.394198,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,0.030672,-0.070971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,-0.395148,-0.439299,-0.222972,-0.012505,-0.667663,-0.421725,-0.268569,-0.571751,-0.290556,-0.290464,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,-0.329048,-0.070971
5168,2.414828,2.182990,0.415336,-0.177921,0.614369,0.380940,1.090411,0.355457,0.140033,0.643145,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,0.030672,-0.070971
5169,-0.565449,-0.649083,-0.293895,-0.343336,-0.667663,-0.421725,-0.508389,-0.571751,-0.290556,-0.497933,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,-0.329048,-0.070971
5170,-0.395148,0.085158,-0.293895,-0.508752,-0.240319,-0.261192,-0.314249,-0.108147,-0.290556,-0.134863,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,0.030672,-0.070971
5171,1.307868,1.868315,-0.010202,-0.343336,0.614369,0.380940,1.056151,1.282664,-0.003497,0.643145,...,-0.02919,-0.047525,-0.062944,-0.091138,-0.172137,-0.044197,-0.04733,-0.056285,-0.329048,-0.070971

# Test dataset preparation

In [5]:
#Read test dataset
raw_df_test = pd.read_csv('./spam_ham_dataset.csv')
raw_df_test

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [6]:
#Reform dataset
df_test = pd.DataFrame(columns=df_std_x.columns)

count = {}
for col in df_std_x.columns:
    count[col] = 0

for data in raw_df_test['text']:
    content = data.split('\r\n')
    for i in range(2, len(content)):
        content[1] = content[1] + ' ' + content[i]
    for k in count.keys():
        count[k] = content[1].count(k)
    df_test = df_test.append(count, ignore_index=True)
df_test

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,1,2,1,0,1,0,17,2,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,25,2,19,7,12,157,11,4,32,...,0,0,0,0,0,0,0,0,2,0
3,1,1,0,0,1,0,34,0,1,7,...,0,0,0,0,0,0,0,0,2,0
4,3,3,0,1,0,0,17,1,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5166,3,2,1,0,1,0,15,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5167,4,7,1,4,3,0,40,1,0,8,...,0,0,0,0,0,0,0,0,0,0
5168,1,2,1,0,1,0,20,1,1,6,...,0,0,0,0,0,0,0,0,1,0
5169,8,0,0,2,2,0,25,1,1,6,...,0,0,0,0,1,0,0,0,1,0
5170,7,9,1,5,3,5,55,17,0,23,...,0,0,0,1,0,0,0,0,0,0

In [7]:
#Add prediction column
df_test['Prediction'] = raw_df_test['label_num']
df_test

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,1,2,1,0,1,0,17,2,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,25,2,19,7,12,157,11,4,32,...,0,0,0,0,0,0,0,2,0,0
3,1,1,0,0,1,0,34,0,1,7,...,0,0,0,0,0,0,0,2,0,1
4,3,3,0,1,0,0,17,1,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5166,3,2,1,0,1,0,15,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5167,4,7,1,4,3,0,40,1,0,8,...,0,0,0,0,0,0,0,0,0,0
5168,1,2,1,0,1,0,20,1,1,6,...,0,0,0,0,0,0,0,1,0,0
5169,8,0,0,2,2,0,25,1,1,6,...,0,0,0,1,0,0,0,1,0,0
5170,7,9,1,5,3,5,55,17,0,23,...,0,0,1,0,0,0,0,0,0,1

In [8]:
#Create new csv file
df_test.to_csv("Test_dataset.csv", index=False)